version: "3.9"

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  finance-dis:
    image: finance-dis
    container_name: finance-dis
    depends_on:
      - ollama
    ports:
      - "8000:8000"
    environment:
      OLLAMA_BASE_URL: http://ollama:11434

volumes:
  ollama_data: